/* MoviePage.css */
.movie-container {
    padding: 20px;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.movie-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: left;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.movie-info {
    padding: 15px;
}

.movie-info h2 {
    font-size: 1.5em;
    color: #444;
}

.movie-info p {
    margin: 10px 0;
    color: #666;
}

.movie-info a {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
}

.movie-info a:hover {
    text-decoration: underline;
}
